.top-list {
  height: 100vh;
  .main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 250px;
    .back-btn {
      width: -webkit-fill-available;
      margin-bottom: 35px;
      span {
        font-size: 35px;
        color: darkgray;
      }
    }
    .back-btn:hover {
      cursor: pointer;
    }
    .header-list {
      display: flex;
      h1 {
        font-size: 40px;
        font-weight: 900;
      }
      span {
        font-size: 14px;
        color: grey;
      }
    }
    .body-list {
      width: -webkit-fill-available;
      .col-name {
        img {
          height: fit-content;
        }
      }
    }
  }
}
